.wrapper {
  position: relative;

  &-menu {
    display: flex;
    justify-content: flex-start;
  }

  &-handling {
    display: flex;
    position: absolute;
    right: 60px;
    top: 5px;
  }

  button {
    min-width: 100px;
  }

  button:not(:first-child) {
    margin: 0 40px 0 20px;
  }

  .language-list {
    box-shadow: 0 0 10px 100px #fff inset;
    min-width: 100px;
  }
}
